@inherits LayoutComponentBase
@inject NavigationManager Navigation
@inject AuthorizationService authService
@using StockReader

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>
    <main>
@if(authService.IsLoggedIn)
{
        <div class="top-row px-4">
            <button class="btn btn-danger" @onclick="ConfirmLogout">Logout</button>
        </div>
}
        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

@code {
    private async void ConfirmLogout()
    {
        await authService.LogoutAsync();

        Navigation.NavigateTo("/login");
    }
}