@page "/stockprice"
@inject StockInfoService StockPriceService

<PageTitle>Stock Price Finder</PageTitle>

<h3>Stock Price Finder</h3>

<div>
    <label for="symbol">Enter Stock Symbol:</label>
    <input style=" background-color: rgb(165, 189, 233)" id="symbol" @bind="symbol" />
    <button @onclick="GetStockPrice">Get Price</button>
</div>

@if (stockPrice > 0)
{
    <p>Stock Price: @stockPrice</p>
}
else if (priceError)
{
    <p style="color: red;">Error fetching stock price. Please check the symbol and try again.</p>
}

@code {
    private string symbol = string.Empty;
    private decimal stockPrice;
    private bool priceError = false;

    private async Task GetStockPrice()
    {
        if (string.IsNullOrEmpty(symbol))
        {
            return;
        }

        priceError = false;

        try
        {
            var apiKey = "ct8ado9r01qtkv5rupp0ct8ado9r01qtkv5ruppg";  // Replace with your Finnhub API key
            stockPrice = await StockPriceService.GetStockPriceAsync(symbol.ToUpper(), apiKey);
            if (stockPrice == 0)
            {
                priceError = true;
            }
        }
        catch
        {
            priceError = true;
        }
    }
}