@page "/stockprice"
@inject StockInfoService StockPriceService

<PageTitle>Stock Price Finder</PageTitle>

<h3 style="font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; color:#656FB4;">What can you earn?</h3>

<div>
    <input placeholder="Enter Stock Symbol..." class="inpt-box" id="symbol" @bind="symbol" />
    <button class="btn-gradent" @onclick="GetStockPrice">Get Price</button>
</div>

@if (stockPrice > 0)
{
    <p>Stock Price: @stockPrice</p>
}
else if (priceError)
{
    <p style="color: red;">Error fetching stock price. Please check the symbol and try again.</p>
}

@code {
    private string symbol = string.Empty;
    private decimal stockPrice;
    private bool priceError = false;

    private async Task GetStockPrice()
    {
        if (string.IsNullOrEmpty(symbol))
        {
            return;
        }

        priceError = false;

        try
        {
            var apiKey = "ct8ado9r01qtkv5rupp0ct8ado9r01qtkv5ruppg";  // Replace with your Finnhub API key
            stockPrice = await StockPriceService.GetStockPriceAsync(symbol.ToUpper(), apiKey);
            if (stockPrice == 0)
            {
                priceError = true;
            }
        }
        catch
        {
            priceError = true;
        }
    }
}