@page "/login"
@inject NavigationManager Navigation
@inject AuthorizationService authService

<h3>Login</h3>

<EditForm Model="@loginModel" OnValidSubmit="HandleLogin">
    <DataAnnotationsValidator />
    <ValidationSummary />

    <div class="form-control">
        <label for="username">Username:</label>
        <InputText id="username" class="form-control" @bind-Value="loginModel.Username" />
    </div>
    <div class="form-control">
        <label for="password">Password:</label>
        <InputText id="password" class="form-control" @bind-Value="loginModel.Password" type="password" />
    </div>
    <button class="btn btn-primary" type="submit">Login</button>
    @if (showErrorMessage)
{
    <div class="alert alert-danger">
        Login failed!
    </div>
}
</EditForm>

@code {
    private LoginModel loginModel = new LoginModel();
    private bool showErrorMessage = false;

    private async void HandleLogin()
    {
        var authenticated = await authService.LoginAsync(loginModel.Username, loginModel.Password);
        if(authenticated)
            Navigation.NavigateTo("/stockprice");
        else 
        {
            showErrorMessage = true;
            StateHasChanged();
            await Task.Delay(3000);
            showErrorMessage = false;
            StateHasChanged();
        }

    }

    public class LoginModel
    {
        public string Username { get; set; }
        public string Password { get; set; }
    }
}
