@page "/login"
@inject NavigationManager Navigation
@inject AuthorizationService authService

<h3>Login</h3>

<EditForm Model="@loginModel" OnValidSubmit="HandleLogin">
    <DataAnnotationsValidator />
    <ValidationSummary />

    <div class="form-control">
        <label for="username">Username:</label>
        <InputText id="username" class="form-control" @bind-Value="loginModel.Username" />
    </div>
    <div class="form-control">
        <label for="password">Password:</label>
        <InputText id="password" class="form-control" @bind-Value="loginModel.Password" type="password" />
    </div>
    <button class="btn btn-primary" type="submit">Login</button>
</EditForm>

<p>@errorMessage</p>

@code {
    private LoginModel loginModel = new LoginModel();
    private string errorMessage;

    private async void HandleLogin()
    {
        await authService.LoginAsync(loginModel.Username, loginModel.Password);
        Navigation.NavigateTo("/stockprice");
    }

    public class LoginModel
    {
        public string Username { get; set; }
        public string Password { get; set; }
    }
}
